*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
app/build/
app/google-services.json
scripts/serviceAccountKey.json
scripts/node_modules/
scripts/package-lock.json
backend/build/
